body {
	width:800px;
	margin: 50 auto;

}

.presence {
	width:300px;
	height:150px;
	border:1px solid gray;
	text-align:center;
}
.null {
	background-color:yellow;
}
.status0 {
	background-color:red;

}
.status1 {
	background-color:green;

}